<?xml version="1.0"?>
<config>
    <modules>
        <EM_Em0120settings>
            <version>0.1.0</version>
        </EM_Em0120settings>
    </modules>
	 <adminhtml>
        <acl>
            <resources>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <em0120>
                                            <title>EM0120 Adore Settings Module</title>
                                        </em0120>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
        <layout>
            <updates>
                <em0120settings>
                    <file>em0120settings.xml</file>
                </em0120settings>
            </updates>
        </layout>
        <menu>
            <emthemes translate="title">
                <title>EMThemes</title>
                <sort_order>72</sort_order>
                <children>
                    <em0120_setting module="em0120settings" translate="title">
                        <title>EM0120 Adore Settings</title>
                        <sort_order>10</sort_order>
                        <action>adminhtml/system_config/edit/section/em0120/</action>
                    </em0120_setting>
                    <help module="em0120settings" translate="title">
                        <title>Help &amp; Support</title>
                        <sort_order>200</sort_order>
                        <children>
                            <em0120_userguide module="em0120settings" translate="title">
                                <title>EM0120 Adore User Guide</title>
                                <sort_order>10</sort_order>
                                <action>adminhtml/em0120settings_link/userguide/</action>
                            </em0120_userguide>
                            <forum module="em0120settings" translate="title">
                                <title>Request installation</title>
                                <sort_order>20</sort_order>
                                <action>adminhtml/em0120settings_link/requestinstallation/</action>
                            </forum>
                            <ticket module="em0120settings" translate="title">
                                <title>Technical support</title>
                                <sort_order>30</sort_order>
                                <action>adminhtml/em0120settings_link/technicalsupport/</action>
                            </ticket>                            
                            <contact_us module="em0120settings" translate="title">
                                <title>Contact Us</title>
                                <sort_order>30</sort_order>
                                <action>adminhtml/em0120settings_link/contactus/</action>
                            </contact_us>
							 <em0120_sample_data module="em0120settings" translate="title">
                                <title>Em0120 Sample Data</title>
                                <sort_order>50</sort_order>
                                <action>adminhtml/em0120settings_theme/export/</action>
                            </em0120_sample_data>
                        </children>
                    </help>
                </children>
            </emthemes>
        </menu>
    </adminhtml>

    <frontend>
        <routers>
            <em0120settings>
                <use>standard</use>
                <args>
                    <module>EM_Em0120settings</module>
                    <frontName>em0120settings</frontName>
                </args>
            </em0120settings>
        </routers>
        <layout>
            <updates>
                <em0120settings>
                    <file>em0120settings.xml</file>
                </em0120settings>
            </updates>
        </layout>
		<events>
			<controller_action_layout_generate_xml_before>
                <observers>
                    <themeframework_change_layout>
                        <type>singleton</type>
                        <class>EM_Em0120settings_Model_Observer</class>
                        <method>changeLayoutEvent</method>
                    </themeframework_change_layout>
                </observers>
            </controller_action_layout_generate_xml_before>
    		<controller_action_layout_generate_blocks_before>
    			<observers>
    				<em0120_config_after_save>
    					<class>EM_Em0120settings_Model_Observer</class>
    					<method>beforeGenerateBlocks</method> 
    				</em0120_config_after_save>
    			</observers>
    		</controller_action_layout_generate_blocks_before>		
			<catalog_product_collection_load_before>
    			<observers>
    				<em0120settings>
    					<class>EM_Em0120settings_Model_Observer</class>
    					<method>beforeCatalogProductCollectionLoad</method> 
    				</em0120settings>
    			</observers>
    		</catalog_product_collection_load_before>
    	</events>
    </frontend>
    <admin>
		<routers>
			<adminhtml>
				<args>
					<modules>
						<em0120settings before="Mage_Adminhtml">EM_Em0120settings_Adminhtml</em0120settings>
					</modules>
				</args>
			</adminhtml>
		</routers>
    </admin>
    <adminhtml>
		
		<acl>
			<resources>
				<all>
					<title>Allow Everything</title>
				</all>
				<admin>
					<children>
						<EM_Em0120settings>
							<title>em0120settings Module</title>
							<sort_order>10</sort_order>
						</EM_Em0120settings>
					</children>
				</admin>
			</resources>
		</acl>
		<layout>
			<updates>
				<em0120settings>
					<file>em0120settings.xml</file>
				</em0120settings>
			</updates>
		</layout>
    </adminhtml>
    
    <global>
        <blocks>
            <tag>
                <rewrite>
                    <popular>EM_Em0120settings_Block_Popular</popular>
                </rewrite>
            </tag>
        </blocks>
        <models>
            <em0120settings>
                <class>EM_Em0120settings_Model</class>
                <resourceModel>em0120settings_mysql4</resourceModel>
            </em0120settings>
            <em0120settings_mysql4>
                <class>EM_Em0120settings_Model_Mysql4</class>
                <entities>
                    <em0120settings>
                        <table>em0120settings</table>
                    </em0120settings>
                    <megamenupro>
                        <table>megamenupro</table>
                    </megamenupro>
                    <media>
                        <table>em_slideshow2_media</table>
                    </media>
					<slider>
                        <table>em_slideshow2_slider</table>
                    </slider>
                </entities>
            </em0120settings_mysql4>
        </models>
        <resources>
            <em0120settings_setup>
                <setup>
                    <module>EM_Em0120settings</module>
					<class>Mage_Eav_Model_Entity_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </em0120settings_setup>
            <em0120settings_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </em0120settings_write>
            <em0120settings_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </em0120settings_read>
        </resources>
        <blocks>
            <em0120settings>
                <class>EM_Em0120settings_Block</class>
            </em0120settings>
        </blocks>
        <helpers>
            <em0120settings>
                <class>EM_Em0120settings_Helper</class>
            </em0120settings>
			<catalog>
				<rewrite>
					<image>EM_Em0120settings_Helper_CatalogImage</image>
				</rewrite>
			</catalog>
        </helpers>
    </global>
	<default>
		<em0120>
			<general>
				<disable_default_nav>0</disable_default_nav>
                <disable_default_leftnav>0</disable_default_leftnav>
				<freezed_top_menu>0</freezed_top_menu>
				<disable_frontend_variation>1</disable_frontend_variation>
				<disable_footer_links>0</disable_footer_links>
				<disable_social>0</disable_social>
				<box_wide>wide</box_wide>
				<wideslide_full>1</wideslide_full>
			</general>
            <typography>
				<google_fonts></google_fonts>
				<google_fonts_weights>400,600,700,800,900</google_fonts_weights>
			</typography>
            <products_grid>
                <absolute>masonry</absolute>
				<width>281</width>
				<height>600</height>
                <gutter></gutter>
				<imagewidth>281</imagewidth>
				<imageheight>393</imageheight>
				<alt_img>thumbnail</alt_img>
                <show_product_name>1</show_product_name>
                <show_sku>1</show_sku>
                <show_thumbnail>1</show_thumbnail>
                <show_desc>1</show_desc>
                <show_price>1</show_price>
                <show_reviews>0</show_reviews>
                <show_addtocart>1</show_addtocart>
                <show_addto>1</show_addto>
                <show_label>1</show_label>
			</products_grid>
			<products_list>
				<width>281</width>
				<height>393</height>
				<gutter>20</gutter>
                <show_product_name>1</show_product_name>
                <show_sku>1</show_sku>
                <show_thumbnail>1</show_thumbnail>
                <show_desc>1</show_desc>
                <show_price>1</show_price>
                <show_reviews>1</show_reviews>
                <show_addtocart>1</show_addtocart>
                <show_addto>1</show_addto>
                <show_label>1</show_label>
			</products_list>
			<image_product>
				<base_image_width>380</base_image_width>
                <base_image_height>531</base_image_height>
                <thumb_base_width>121</thumb_base_width>
				<thumb_base_height>168</thumb_base_height>
				<viewmode></viewmode>
				<cloud_zoom_width></cloud_zoom_width>
				<cloud_zoom_height></cloud_zoom_height>
				<use_tabs>1</use_tabs>
			</image_product>
			<related>
				<imagewidth>265</imagewidth>
				<imageheight></imageheight>
			</related>
			<crosssell>
				<imagewidth>281</imagewidth>
				<imageheight>393</imageheight>
			</crosssell>
			<upsell>
				<imagewidth>281</imagewidth>
				<imageheight>393</imageheight>
			</upsell>
            <image_sidebar>
                <sidebar_width>233</sidebar_width>
                <sidebar_height>224</sidebar_height>
            </image_sidebar>
            <image_shopping_cart>
                <shopping_cart_width>178</shopping_cart_width>
				<shopping_cart_height>190</shopping_cart_height>
			</image_shopping_cart>
			<ajaxcart>
				<auto_close>0</auto_close>
			</ajaxcart>
			<sidebar>
				<list>catalog_search_layer,catalog_leftnav,catalog_shopby,compare,product_list_related,poll,popular_tags,wishlist_sidebar,reorder_sidebar</list>
				<block_data>
                    <catalog_search_layer>
						<type>layerednavigation/search_layer</type>
						<name>em.catalog.leftnav.custom</name>
						<template>em_layerednavigation/view.phtml</template>
						<before>-</before>
						<handles>catalogsearch_result_index</handles>
					</catalog_search_layer>
                    <catalog_leftnav>
						<type>catalog/navigation</type>
						<name>catalog.leftnav</name>
						<template>catalog/navigation/left.phtml</template>
						<before>-</before>
						<handles>catalog_category_default</handles>
					</catalog_leftnav>
                    <catalog_shopby>
						<type>layerednavigation/catalog_layer</type>
						<name>em.catalog.leftnav.custom</name>
						<template>em_layerednavigation/view.phtml</template>
						<before>-</before>
						<handles>catalog_category_layered</handles>
					</catalog_shopby>
                    <compare>
						<type>catalog/product_compare_sidebar</type>
						<name>em.catalog.compare.sidebar</name>
						<template>catalog/product/compare/sidebar.phtml</template>
						<before></before>
					</compare>	
					<product_list_related>
						<type>catalog/product_list_related</type>
						<name>catalog.product.related</name>
						<template>catalog/product/list/related.phtml</template>
						<handles>catalog_product_view</handles>
					</product_list_related>
				    <poll>
						<type>poll/activePoll</type>
						<name>em.poll_sidebar</name>
						<action>method:setPollTemplate?template:poll/active.phtml,type:poll|method:setPollTemplate?template:poll/result.phtml,type:results</action>
                        <after>em.catalog.compare.sidebar</after>
					</poll>
					<popular_tags>
						<type>tag/popular</type>
						<name>em.tags_popular</name>
						<template>tag/popular.phtml</template>
						<after>em.poll_sidebar</after>
					</popular_tags>
					<wishlist_sidebar>
						<type>wishlist/customer_sidebar</type>
						<name>em.wishlist_sidebar</name>
						<as>wishlist</as>
						<template>wishlist/sidebar.phtml</template>
						<after>em.tags_popular</after>
					</wishlist_sidebar>
					<reorder_sidebar>
						<type>sales/reorder_sidebar</type>
						<name>em.sale.reorder.sidebar</name>
						<as>reorder</as>
						<template>sales/reorder/sidebar.phtml</template>
						<handles>customer_account,customer_logged_in</handles>
					</reorder_sidebar>
				</block_data>
			</sidebar>
			<position>
				<catalog_shopby>left</catalog_shopby>
				<catalog_leftnav>left</catalog_leftnav>
				<catalog_search_layer>left</catalog_search_layer>				
				<compare>all</compare>				
				<product_list_related>left</product_list_related>
				<latest_review>left</latest_review>
				<poll>all</poll>
				<popular_tags>left</popular_tags>
				<wishlist_sidebar>all</wishlist_sidebar>
				<reorder_sidebar>right</reorder_sidebar>
			</position>
            <flashtag>
                <enabled>0</enabled>
                <count>100</count>
                <back>#ffffff</back>
                <max>20</max>
                <min>12</min>
                <maxcolor>#646464</maxcolor>
                <normal>#646464</normal>
                <hover>#646464</hover>
                <speed>1000</speed>
            </flashtag>
		</em0120>
	</default>
</config>